* {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


/*nav bar section*/

.nav-logo-container img {
    width: 200px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 90px;
}

.navbar-menu-container {
    display: none;
}

.navbar-links-container a {
    margin-right: 1.5rem;
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    font-weight: 600;
}

.primary-button {
    padding: 0.8rem 1.5rem;
    background-color: rgb(126, 209, 101);
    color: white;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: .85rem;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
    width: 120px;
}


.primary-button:hover {
    background-color: #fe9e0d;
}

.navbar-menu-container svg {
    font-size: 1.5rem;
    cursor: pointer;
}

/* home section */

.home-banner-container {
    position: relative;
    display: flex;
    background-color: #d4e19a;
    height: 300px;
}

.home-banner-image-container {
    position: absolute;
    top: -80px;
    right: -120px;
    z-index: -2;
    max-width: 500px;
}


.home-image-section img {
    max-width: 250px;
    flex: 1;
  }


.home-text-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.home-primary-heading {
    font-size: clamp(1rem, 5vw, 1.3rem);
    color: #4c4c4c;
    text-align: center;
}

.home-primary-text {
    font-size: clamp(0.8rem, 2.5vw, 0.9rem);
    max-width: 400px;
    text-align: center;
    color: #6a6a6a;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.home-secondary-button {
    padding: 0.8rem 1.5rem;
    background-color: rgb(126, 209, 101);
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 500;
    color: white;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    
}

.home-secondary-button:hover {
    background-color: #fe9e0d;
}



/*about section*/


.about-primary-heading {
    font-size: clamp(1rem, 5vw, 1.0rem);
    color: #4c4c4c;
    max-width: 600px;
    margin-right: 3rem;
    margin-top: 1rem;
 
}

.about-primary-subheading {
    font-weight: 700;
    color: #b48b4d;
    font-size: 1.75rem;
}


.about-primary-text {
    font-size: clamp(1rem, 3vw, 1rem);
    max-width: 550px;
    color: #6a6a6a;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 6rem;
}



.about-section-container {
    margin-top: 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    margin-bottom: 1rem;
}

.about-section-image-container {
    flex: 0.9;
    
}

.about-background-image-container img {
    width: 300px;
    margin-left: 2rem;
}


.home-primary-subheading {
    font-weight: 700;
    color: #b48b4d;
    font-size: 1.75rem;
}

/* steps section */

.work-section-wrapper {
    background-color: #d4e19a;
    height: auto;
}

.work-section-top {
    flex-direction: column;
    padding: 2rem;
}


.work-primary-heading {
    font-size: clamp(1rem, 5vw, 1.2rem);
    color: #4c4c4c;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.work-primary-subheading {
    font-weight: 700;
    color: #b48b4d;
    font-size: 1.75rem;
}

.work-primary-text {
    font-size: clamp(1rem, 3vw, 1rem);
    color: #6a6a6a;
}



/* work section */

.work-section-info {
    width: 250px;
    min-height: 300px;
    background-color: white;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 1rem;
    color: #505050;
    margin-bottom: 2rem;
}


.work-section-info h2 {
    margin-top: 3rem;
}

.work-section-bottom {
    display: flex;
    justify-content: space-evenly;

}

.work-section-info p {
    flex: 1;
    display: flex;
    align-items: center;
    font-weight: 600;
}





/* reviews section */

.testimonial-section-wrapper {
    margin-top: 3rem;
    width: 100%;
}

.testimonial-section {
    margin-top: 15rem;
    padding: 1.5rem;
    border-radius: 2rem;
}


.testimonials-review-container {
    margin-bottom: 15px;
    background-color: #f3c177;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
    width: 80%;
    height: auto;

}

.testimonial-primary-heading {
    font-size: clamp(1rem, 5vw, 1.2rem);
    color: #4c4c4c;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.testimonial-primary-subheading {
    font-weight: 700;
    color: #b48b4d;
    font-size: 1.75rem;
    text-align: center;

}


.testimonial-primary-text {
    font-size: clamp(0.8rem, 2.5vw, 0.9rem);
    color: #6a6a6a;
    text-align: center;
}



.testimonial-section {
    margin: 2rem;
}

.testimonial-section img {
    width: 50px;
}

.testimonial-section p {
    font-weight: 600;
    color: #515151;
    font-size: 1rem;
}


.testimonials-review-container svg {
    font-size: 1.5rem;
    color: rgb(46, 126, 22);
}

.testimonial-section h2 {
    font-size: 1rem;
}

.testimonials-review-container p {
    font-size: 15px;
}


/* contact section */



.contact-page-wrapper h1 {
    max-width: 900px !important;
}

.contact-page-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 4rem;
    background-color: #d4e19a;
    height: 350px;
}

.contact-form-container {
    background-color: #b48b4d;
    max-width: 700px;
    width: 100%;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 5rem;
}

.contact-form-container input {
    margin-left: 3rem;
    width: 75%;
    height: 40px;
}
.contact-form-container button {
    margin-left: 5rem;
}

.contact-secondary-button {
    padding: 1rem 2rem;
    background-color: rgb(126, 209, 101);
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 500;
    color: white;
    transition: 0.2s;
    margin-left: 0;
    
}

.contact-secondary-button:hover {
    background-color: #fe9e0d;
}


/* gallery section */
.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    position: relative;
}

.gallery img {
    width: 30rem;
    height: 30rem;
    border-radius: 5px;
}

.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    background: transparent;
    border: none;
    color: #333;
    z-index: 1
}

.btn-left {
   margin-right: 35rem;
   top: 50%;
   transform: translateY(-50%);
   color: rgb(46, 126, 22);
   font-size: 3rem;
}

.btn-right {
    margin-left: 35rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(46, 126, 22);
    font-size: 3rem;
}


.questions {
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

/* footer section */

.footer-wrapper {
    display: flex;
    font-size: 1rem;
    background-color: #d4e19a;
    height: 230px;
    padding: 1.5rem;
    width: 100%;
}

.footer-logo-container img {
    width: 150px; 
}

.footer-section-one {
    margin-left: 6rem;
}

.footer-section-two {
    display: flex;
    justify-content: flex-start;
}

.footer-section-columns {
    display: flex;
    flex-direction: column;
}

.footer-section-columns span {
    margin-top: 0.25rem;
    margin-left: 2rem;
    font-weight: 600;
    color: #4c4c4c;
    cursor: pointer;
}

.one {
    margin-right: 6rem;
}

.two {
    margin-right: 3rem;
}

.three {
    margin-right: 10rem;
}

.social-icons {
    margin-top: 1rem;
}

.social-icons svg {
    font-size: 1rem;
    color: #585858;
}


.developer p {
    font-size: 1rem;
    text-align: center;
    margin-top: 5rem;
}







